* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Chanel';
    src: url('../fonts/ABChanel\ Corpo\ Regular.woff2') format('woff2'),
    url('../fonts/ABChanel\ Corpo\ Regular.woff') format('woff'),
    url('../fonts/ABChanel\ Corpo\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
:root {
    --cor-primaria: #1D1D1D;
    --cor-secundaria: #F4F6FA;
    --cor-fundo: #FFFFFF;
    --cor-texto: #1D1D1D;
    --cor-botao: #333333;
    --fonte-principal: 'Chanel', serif;
    --fonte-corpo: 'Helvetica' , serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--cor-fundo);
    z-index: 100;
}

nav {
    overflow: hidden;
}

@media (min-width: 769px) {
    nav {
        transition: opacity 0.3s ease, max-height 0.3s ease;
        max-height: 100px;
    }

    nav.scroll-hidden {
        opacity: 0;
        max-height: 0;
    }
}

main {
    margin-top: 120px;
}

@media (max-width: 768px) {
    main {
        margin-top: 60px;
    }
}

.header-top {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

nav a.active {
    border-bottom: 2px solid var(--cor-primaria);
    padding-bottom: 20px;
}

.header-top h1 {
    font-size: 30px;
    letter-spacing: 0px;
    font-weight: 600;
    margin: 0;
    flex: 1;
    text-align: center;
}

.header-top a {
    text-decoration: none;
    color: var(--cor-texto);
    display: flex;
    align-items: center;
}

.header-icons-left {
    flex: 1;
    display: flex;
    padding-left: 300px;
    align-items: center;
}

.header-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
    padding-right: 200px;
    cursor: pointer;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 500px;
    background-image: url('../img/1770836289337-vl-n-5-2026-model-margot-desk-mp_900x2880.webp');
    background-size: cover;
    background-position: center;
    padding-left: 200px;
    font-weight: normal;
}

#hero2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 500px;
    background-image: url('../img/Design sem nome 22.png');
    background-size: cover;
    background-position: center;
    padding-left: 200px;
    font-weight: normal;
}

#hero3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 500px;
    background-image: url('../img/Design sem nome 33.png');
    background-size: cover;
    background-position: center;
    padding-right: 200px;
    font-weight: normal;
}

#hero4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 500px;
    background-image: url('../img/Design sem nome 44.png');
    background-size: cover;
    background-position: center;
    padding-left: 200px;
    font-weight: normal;
}

#hero5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 500px;
    background-image: url('../img/1776186602971-ratio-gift-finder-desk-mp-1_1800x5760.webp');
    background-size: cover;
    background-position: center;
    padding-left: 200px;
    font-weight: normal;
}

.hero-content {
    width: 40%;
}

.hero-content h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    overflow-wrap: break-word;
}

.hero-content p {
    font-size: 12px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 18px;
}

.hero-content button {
    background: transparent;
    border: 1px solid var(--cor-primaria);
    padding: 15px 32px;
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
    transition: all 0.2s ease;
}

.hero-content button:hover {
    background-color: #f9f9f9;
    cursor: pointer;
    border: 1px solid #f9f9f9;
}

.botaohero2 {
      display: flex;
      justify-content: center;
      width: 100%;
}

.botaohero2 button {
      border-bottom: 2px solid var(--cor-primaria);
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      cursor: pointer;
      font-size: 11px;
      font-family: var(--fonte-principal);
      margin-top: 15px;
}

.botaohero2 button:hover {
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}

.hero2-content {
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
}

.hero3-content {
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
}

.hero2-content h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    overflow-wrap: break-word;
}

.hero2-content .margin03 {
    font-size: 12px;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18px;
}

.hero3-content .margin03 {
    font-size: 12px;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18px;
}

.botaohero3 {
      display: flex;
      justify-content: center;
      width: 100%;
}

.botaohero3 button {
      border-bottom: 2px solid var(--cor-primaria);
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      cursor: pointer;
      font-size: 11px;
      font-family: var(--fonte-principal);
      margin-top: 15px;
}

.botaohero3 button:hover {
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}

.hero-content .margin02 {
    margin: 0;
    font-size: 12px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 18px;
}

.botaohero5 {
      display: flex;
      justify-content: center;
      width: 100%;
}

.botaohero5 button {
    display: inline-block;
    padding: 14px 20px;
    background: black;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #1D1D1D;
    font-size: 11px;
    letter-spacing: 0px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-family: var(--fonte-principal);
    margin-top: 20px;
}

.botaohero5 button:hover {
    background-color: #ffffff;
    color: #000000;
}

.hero5-content {
    width: 45%;
    padding-left: 30px;
    padding-right: 150px;
    padding-bottom: 30px;
}


.hero5-content h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    overflow-wrap: break-word;
    padding-top: 5px;
}

.hero5-content p {
    font-size: 12px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
}

.hero5-content .margin03 {
    font-size: 12px;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18px;
}

.hero5-content .margin02 {
    letter-spacing: 1px;
};

.botaohero4 {
      display: center;
      justify-content: center;
      width: 100%;
}

.botaohero4 button {
      border-bottom: 2px solid var(--cor-primaria);
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      cursor: pointer;
      font-size: 11px;
      font-family: var(--fonte-principal);
      margin-top: 15px;
}

.botaohero4 button:hover {
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}

.hero4-content {
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
}


.hero4-content h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    overflow-wrap: break-word;
}

.hero4-content .margin03 {
    font-size: 12px;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18px;
}


.margin0 {
    margin: 0;
}

.margin5 {
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.margin10 {
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.TextCenter {
    text-align: center;
}

.bestsellers {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    position: relative;
}

.bestsellers h2 {
    font-family: var(--fonte-principal);
    font-weight: 600;
    padding-bottom: 40px;
}

.top-bar {
    height: 5px;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.carrossel-track {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.4s ease;
    will-change: transform;
}

.produto-card {
    flex: 0 0 calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding: 0 48px;
}

.produto-card img {
    width: 100%;
    border-bottom: 4px solid transparent;
    transition: border-color 0.3s ease;
}

.produto-card:hover img {
    background: black;
}

.produto-card button {
      border-bottom: 2px solid var(--cor-primaria);
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      cursor: pointer;
      font-size: 10px;
      font-family: var(--fonte-principal);
      margin: -10px 0 0 0;
}

.produto-card button:hover {
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}

.produto-card h3 {
    font-size: 12px;
    font-family: var(--fonte-principal);
    margin: 5px;
    line-height: 1;
}

.produto-card p {
    font-size: 12px;
    font-family: var(--fonte-corpo);
    font-weight: 300;
    margin: 0;
    line-height: 1;
}

.produto-card span {
    font-size: 12px;
    font-family: var(--fonte-principal);
    margin: -8px 0 0 0;
    display: block;
}

.carrossel {
    position: relative;
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
}

.seta-direita {
    position: absolute;
    right: calc(50% - 600px);
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    z-index: 10;
}

.seta-esquerda {
    position: absolute;
    left: calc(50% - 600px);
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.indicador {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 2px;
}

.produto-card .ph-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.produto-card:hover .ph-heart {
    opacity: 1;
}

@keyframes slideEsquerda {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes slideDireita {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

footer {
    background-color: black;
    color: var(--cor-secundaria);
    padding: 60px 0px;
}

.footer-logo {
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
    padding: 0 40px 40px 40px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 80px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col a {
    color: #9B9B9B;
    font-size: 14px;
    font-family: var(--fonte-corpo);
    font-weight: 300;
    text-decoration: none;
}

.footer-col a:hover {
    border-bottom: 1px solid #9B9B9B;
}

.footer-bottom {
    justify-content: space-between;
    color: var(--cor-secundaria);
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
}

.footer-col h4 {
    font-size: 12px;
    color: white;
    font-family: var(--fonte-principal);
    font-weight: 600;
}

.footer-social a {
    color: rgb(155, 155, 155);
    text-decoration: none;
    font-size: 15px;
}

.footer-social a:hover {
    color: white;
}

.footer-col li::marker {
    display: none;
}

.footer-col a::marker {
    display: none;
}

.footer-bottom span {
    font-size: 12px;
}

.footer-divider {
    border: none;
    border-top: 1px solid #333;
    margin: 40px 0 20px 0;
    width: 100%;
}

.hero-img-mobile {
    display: none;
}

.hero2-img-mobile {
    display: none;
}

.hero3-img-mobile {
    display: none;
}

.hero4-img-mobile {
    display: none;
}

.hero5-img-mobile {
    display: none;
}

.header-icons-left .ph-magnifying-glass {
    display: none; /* some no desktop */
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.menu-drawer {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 200;
    transition: left 0.3s ease;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
}

.menu-drawer.aberto {
    left: 0;
}

.menu-overlay.ativo {
    display: block;
}

.menu-fechar {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end; /* ← era flex-end, muda para flex-start */
    margin-bottom: 5px;
}

.menu-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.menu-lista li {
    border-bottom: 1px solid #f0f0f0;
}

.menu-lista a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 11px;
    letter-spacing: 2px;
    font-family: var(--fonte-principal);
    font-weight: 500;
}

.menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0 -24px -32px -24px;
    padding: 0 24px;
    background-color: #f5f5f5;
    border-top: 1px solid #e8e8e8;
}

.menu-bottom a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    border-bottom: 1px solid #e8e8e8;
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 13px;
    font-family: var(--fonte-corpo);
    font-weight: 300;
}

.menu-bottom a i {
    font-size: 20px;
}

.hamburger {
    display: none;
    background: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

/* SHOP BY CATEGORY */
.shop-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 40px;
}

.shop-category h2 {
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 29px;
    margin-bottom: -20px;
    text-align: center
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
}

.category-card:hover {
    transform: translateY(-5px);
}

.category-card img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: contain;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
}

.category-card:hover img {
    opacity: 0.9;
}

.category-card h3 {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    margin: -50px 0 0 0;
    transition: opacity 0.3s ease;
}

.category-card:hover h3 {
    opacity: 0.7;
}

@media (max-width: 768px) {
    /* HEADER */
    nav { 
        display: none; 
    }

    main {
        margin-top: 60px;
    }

    .hamburger { display: block; }
    
    header { padding: 12px 0; }

    .header-top h1 {
        white-space: nowrap;
        font-size: 20px;
        flex: 1;
        text-align: center;
        padding-left: 50px;
    }

    .header-icons-left {
        flex: 0;
        padding-left: 16px;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .header-icons-left .ph-magnifying-glass { display: block; }

    .header-icons {
        flex: 0;
        padding-right: 16px;
        gap: 12px;
    }

    .header-icons .ph-magnifying-glass,
    .header-icons .ph-heart { display: none; }

    /* HERO */
    #hero {
        background-image: none;
        flex-direction: column;
        height: auto;
        padding: 0;
        align-items: center;
    }

    .hero-img-mobile {
        display: block;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 85% top;
    }

    #hero2 {
        background-image: none;
        flex-direction: column;
        height: auto;
        padding: 0;
        align-items: center;
    }

    #hero3 {
        background-image: none;
        flex-direction: column;
        height: auto;
        padding: 0;
        align-items: center;
    }

        #hero4 {
        background-image: none;
        flex-direction: column;
        height: auto;
        padding: 0;
        align-items: center;
    }

        #hero5 {
        background-image: none;
        flex-direction: column;
        height: auto;
        padding: 0;
        align-items: center;
    }

    .hero-content {
        width: 100%;
        padding: 40px 24px;
        text-align: center;
    }

    .hero-content h2 {
        font-size: 20px;
        line-height: 28px;
    }


    .hero-img-mobile {
        display: block;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 85% top;
    }

    .hero2-img-mobile {
        display: block;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: center top;
    }

    .hero3-img-mobile {
        display: block;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: center top;
    }

    .hero4-img-mobile {
        display: block;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: center top;
    }

    .hero5-img-mobile {
        display: block;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 85% top;
    }

    .hero2-content,
    .hero3-content,
    .hero4-content,
    .hero5-content {
        width: 100%;
        padding: 40px 24px;
        text-align: center;
    }

    .hero2-content h2,
    .hero3-content h2,
    .hero4-content h2,
    .hero5-content h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .hero2-content .margin02,
    .hero3-content .margin02,
    .hero4-content .margin02,
    .hero5-content .margin02 {
        font-size: 12px;
    }

    .hero2-content .margin03,
    .hero3-content .margin03,
    .hero4-content .margin03,
    .hero5-content .margin03 {
        font-size: 12px;
        line-height: 18px;
    }

    .botaohero2,
    .botaohero3,
    .botaohero4,
    .botaohero5 {
        justify-content: center;
        width: 100%;
    }

    /* CARROSSEL */
    .carrossel {
        width: 100%;
        margin: 0;
    }

    .produto-card {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 12px;
    }

    .seta-direita { right: 4px; }
    .seta-esquerda { left: 4px; }

    /* BESTSELLERS */
    .bestsellers {
        margin-top: 20px;
        padding-bottom: 40px;
    }

    .bestsellers h2 { font-size: 20px; }

    /* SHOP BY CATEGORY */
    .shop-category {
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0 16px;
    }

    .shop-category h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .category-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        width: 300px;
    }

    .category-card h3 {
        font-size: 12px;
        font-weight: 400;
        padding-top: 15px;
    }

    /* FOOTER */
    .footer-grid {
        grid-template-columns: 1fr;
        padding: 0 24px;
        gap: 32px;
    }

    .footer-logo {
        font-size: 22px;
        padding: 0 24px 24px 24px;
    }

    .footer-bottom {
        padding-left: 24px;
        padding-right: 24px;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .footer-social {
        gap: 16px;
        display: flex;
    }

    .top-bar {
    height: 5px;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

}